:root{
    --primary: #b6bcbf;
    --text:   #15324c;
    --hover: #74853c;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif ;
    font-weight: 300;
}
.contenedor{
    width: 100%;
    margin: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,auto);
}
.contenedor .contenido{
    grid-column: span 3;
    grid-row: 1/4;
    padding-top: 2%;
    font-size: 20px;
    margin-bottom: 5%;
}
.contenedor .sidebar{
    background-color: var(--primary);
    grid-column: 1 /2;
    grid-row: 1/4;
    height: 100%;
    width: 300px;
}
.perfil{
    height: 50%;
    border-bottom: 1px var(--text) solid;
}
.perfil figure{
    align-content: center;
    text-align: center;
    margin-top: 0;
    height: 70%;
    margin-top: 5%;
}
.perfil img{
    margin-top: 10%;
    width: 70%;
    height: 50%;
    border-radius: 100%;
}.perfil p{
     margin-top: 5%;
 }.perfil
   a{
      float: left;
      margin-left: 12%;
  }
.icon{
    font-size: 35px;
    color: var(--text);
}
.menu  {
    margin-top: 5%;
}
.menu .icon{
    font-size: 25px;
}
.menu a {
    display: block;
    color: var(--text);
    text-decoration: none;
    padding: 10px;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    transition: border 0.3s;
}

.menu li:hover {
    background-color: var(--hover);
}
.card img{
    width: 250px;
    height: 150px;
}.header{
    visibility: hidden;
 }

@media screen and (max-width: 768px){
    .contenedor .contenido{
        text-align: center;
    }
    .contenido .row{
        padding-left: 15%;
    }
  .contenedor .sidebar{
      visibility: hidden;
      z-index: 1;
  }
    .contenedor .contenido{
        grid-column: 1 / -1;
    }
    .header{
        visibility: visible;
        background-color: var(--primary);
        width: 100%;
    }
}
/* css sidebar  */